.banner {
    height: 600px;
    background:#b0b8b9;
}

.form1 {
    background: #e2534b;
    width: 455px;
    margin: auto;
    border-radius: 5px;
}
.form2 
{
    background: #3f4646;
    padding: 2px 30px;
    margin-top: 30px;
    border-radius: 5px;
}
.line1 {
    font-size: 54px;
    color: white;
    text-decoration: none;
    margin-left: 16px;

}
.line2 {
    font-size: 22px;
    text-decoration: none;
    color: white;
}
.load_img {
    text-decoration: none;    
}
.position_img {
    margin: 10px 10px;
}    
.back {
    float: left;
    background:#e2534b;
    height: 50px;
    width: 50px;
    margin-top: 250px; 
    border-radius: 5px;
} 
.next {
    float: right;
    background: #e2534b;
    height: 50px;
    width: 50px;  
    margin-right: 0;
    margin-top: 250px;
    border-radius: 5px;
}
.wirte {
    float: left;
    margin-left: 474px;
    margin-top: 182px;
} 

/*service*/
.service {
    background: #f3f3f3;
    padding-top: 1px;
}
.top_service {
    display: flex;
    width: 1463.2px;
    background: #ececec;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    border-radius: 5px;
}
.title_service {

    list-style: none;
    margin-left: 10px;
}
.view_more {
    margin: 22px 0 32px 125px;
    padding: 20px 38px;
    background: #e2534b;
    border-radius: 5px;
}
.title_service1 {
    color:#7f8c8c;
    font-size: 24px;
    height: 38px;
}
.title_service2 {
    color: #777777;
    font-size: 15px;
}
.view_more a {
    text-decoration: none;
    font-size: 20px;
    color: white;
}
.read_more {
    display: flex;
    width: 1463.2px;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}
/* read more first*/

.frame_read_more1 {
    height: 346px;
    background: white;
    border-radius: 5px;
}
.button_read1 {
    background:#e2534b;
    padding: 3px 10px;
    margin: -33px 35px 0 35px;
    border-radius: 5px;
}

/*same same*/

.read_mores {
    width: 325px;
}

.frame_read_more {
    height: 346px;
    background: #f8f8f8;
    border-radius: 5px;
}
.logo_read img {
    margin: 50px 0 0 118px;
}
.logo_read p {
    font-size: 20px;
}
.write_read p {
    font-size: 14px;
    margin-top: 25px;
    line-height: 23px;
}
.button_read {
    background:#76c7c0;
    padding: 3px 10px;
    margin: -33px 35px 0 35px;
    border-radius: 5px;
}
.link_button_read {
    text-decoration: none;
    font-size: 18px;
    color: white;
}